CONNECTION_URI=postgresql+psycopg://testuser:testpwd@localhost:5432/honcho # sample for local database

# CONNECTION_URI=postgresql+psycopg://testuser:testpwd@database:5432/honcho # sample for docker-compose database

OPENAI_API_KEY= # Used for vector embeddings
ANTHROPIC_API_KEY= # Used for the deriver and dialectic API

# Logging 

SENTRY_ENABLED=false # Set to true to enable Sentry logging and tracing

# Auth
USE_AUTH_SERVICE=false
SECRET_KEY=

# Sentry
SENTRY_DSN=

# Deriver
DERIVER_WORKERS=1
