version: "3.8"
services:
  api:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - 8000:8000
    volumes:
      - .:/app
    environment:
      - DATABASE_TYPE=postgres
      - CONNECTION_URI=postgresql+psycopg://testuser:testpwd@database:5432/honcho
      - OPENAI_API_KEY=[YOUR_OPENAI_API_KEY]
      - OPENTELEMETRY_ENABLED=false
      - SENTRY_ENABLED=false
      - SENTRY_DSN=
      - OTEL_SERVICE_NAME=honcho
      - OTEL_PYTHON_LOGGING_AUTO_INSTRUMENTATION_ENABLED=true
      - OTEL_PYTHON_LOG_CORRELATION=true
      - OTEL_PYTHON_LOG_LEVEL=
      - OTEL_EXPORTER_OTLP_PROTOCOL=
      - OTEL_EXPORTER_OTLP_ENDPOINT=
      - OTEL_EXPORTER_OTLP_HEADERS=
      - OTEL_RESOURCE_ATTRIBUTES=
      - DEBUG_LOG_OTEL_TO_PROVIDER=false
      - DEBUG_LOG_OTEL_TO_CONSOLE=true
      - USE_AUTH_SERVICE=false
  database:
    image: ankane/pgvector
    restart: always
    ports:
      - 5432:5432
    environment:
      - POSTGRES_DB=honcho
      - POSTGRES_USER=testuser
      - POSTGRES_PASSWORD=testpwd
      - POSTGRES_HOST_AUTH_METHOD=trust
      - PGDATA=/var/lib/postgresql/data/pgdata
    volumes:
      - ./init.sql:/docker-entrypoint-initdb.d/init.sql
      - ./data:/var/lib/postgresql/data/
