# See https://fly.io/docs/reference/configuration/ for information about how to use this file.

app = 'honcho'
primary_region = 'ewr'
kill_signal = 'SIGINT'
kill_timeout = '5s'

[build]

[processes]
  api = 'python -m fastapi run src/main.py'
  deriver = 'python -m src.deriver'

[http_service]
  internal_port = 8000
  auto_stop_machines = 'off'
  auto_start_machines = true
  min_machines_running = 1
  processes = ['api']

  [http_service.concurrency]
    type = 'requests'
    hard_limit = 250
    soft_limit = 200

[[vm]]
  memory = '512mb'
  cpu_kind = 'shared'
  cpus = 1
  processes = ['api', 'deriver']
