[project]
name = "honcho"
version = "0.0.11"
description = "Honcho Server"
authors = [
  {name = "Plastic Labs", email = "hello@plasticlabs.ai"},
]
readme = "README.md"
requires-python = ">=3.9"
dependencies = [
    "fastapi[standard]>=0.111.0",
    "python-dotenv>=1.0.0",
    "sqlalchemy>=2.0.30",
    "fastapi-pagination>=0.12.24",
    "pgvector>=0.2.5",
    "sentry-sdk[fastapi,sqlalchemy]>=2.3.1",
    "greenlet>=3.0.3",
    "psycopg[binary]>=3.1.19",
    "httpx>=0.27.0",
    "opentelemetry-instrumentation-fastapi>=0.45b0",
    "opentelemetry-sdk>=1.24.0",
    "opentelemetry-exporter-otlp>=1.24.0",
    "opentelemetry-instrumentation-sqlalchemy>=0.45b0",
    "opentelemetry-instrumentation-logging>=0.45b0",
    "rich>=13.7.1",
    "mirascope>=0.18.0",
    "openai>=1.43.0",
]
[project.optional-dependencies]
test = [
    "pytest>=8.2.2",
    "sqlalchemy-utils>=0.41.2",
    "pytest-asyncio>=0.23.7",
    "coverage>=7.6.0",
    "interrogate>=1.7.0",
]

[tool.ruff.lint]
# from https://docs.astral.sh/ruff/linter/#rule-selection example
select = [
    # pycodestyle
    "E",
    # Pyflakes
    "F",
    # pyupgrade
    "UP",
    # flake8-bugbear
    "B",
    # flake8-simplify
    "SIM",
    # isort
    "I",
]
ignore = ["E501"]

[tool.ruff.flake8-bugbear]
extend-immutable-calls = ["fastapi.Depends"]

[tool.lpytest.ini_options]
asyncio_mode = "auto"
