[project]
name = "python"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.11"
dependencies = [
    "honcho-ai",
    "langchain-core>=1.0.6",
    "langgraph>=1.0.3",
    "openai>=1.99.7",
    "python-dotenv>=1.1.1",
]
